.userThumbnail{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    cursor: pointer;
    background-color: beige;
}