.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    height: 100vh;
    background-color: #3b3a48;

    .top{
        img{
            height: 50px;
        }
    }

}