.contentBox{
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 8px;
        

        .add{
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-weight: 500;
            padding: 3px;
            color: white;
            gap: 5px;
            width: 150px;
            padding: 5px;
            font-size: 20px;
            background-color: #2e9ae1;
            transition: 0.05s ease-in;
            display: flex;
            justify-content: center;
            align-items: center;
            

            &:hover{
                background-color: #2e99e1ae;
            }

            .buttonLabel{
                font-size: 16px;
            }

           
        }
        .title{
            text-transform: uppercase;
            color: orange;
            font-weight: 900;
            font-family: monospace;
            font-size: 20px; 
        }

        .icon{
            cursor: pointer;
            border-radius: 50%;
            font-weight: 1600;
            background-color: white;
        
        }
    }

    .content{
        display: flex;
        flex-direction: column;
    }
    
}